<html>
<head>
<title> Linux</title>
</head>
<body>
 <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/python">Python</a></li>
            <li role="presentation"><a href="/linux">Linux</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">What I learn in linux</h3>
      </div>

        <p><a class="btn btn-lg btn-success" href="#" onClick="jQuery.ajax('/btn')" role="button">Email him today</a></p>
      </div>

	<h1>introduction to linux</h1>
<p>linux is an oprating system</p>
<h2>Basic Commands in Linux</h2>
<ol>
	<li>man shows a manual page for a certain topic.</li>
	<li>type man pwd enter to see what the pwd command does.</li>
	<li>Use cd ~ to go back to the directory you were in.</li>
	<li>ps aux prints details of every process running on your machine.</li>
	<li>grep searches the input for lines matching a certain pattern.</li>
	<li>Use ls and wc to find out how many files and directories are in your root directory.</li>
<h3>Advanced commands</h3>
 
	<li>whoami prints out your user ID</li>
	<li>ps aux prints details of every process running on your machine</li>
	<li>Grep is very powerful. grep ^I sam prints out all the lines in the file sam that start with the character "I"</li>
</ol>
</body>
</html>
